# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.pprof
*.obj

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
cmd/profiling/profiling
out_actual_pathTracing.png
out_actual_simple.png
out_actual_oidn.png
out_actual_obj.png
out_actual_obj_default.png
out_actual_obj_diffuse.png
out_actual_uv.png
cmd/profiling/out.jpg
